html {
  box-sizing: border-box;
  font-size: 12px;
  --background-color: #333333;
  --primary-color: #aaff00;
  --secondary-color: #00e7ff;
  --warning-color: #ff0056;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}
main {
  max-width: 1366px;
  padding: 0.5rem;
  margin: 0rem auto;
}
.line {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  &.error {
    color: var(--warning-color);
  }
  &.title {
    margin-top: 1rem;
    font-weight: bold;
  }
  &.info {
    color: var(--secondary-color);
  }
  a {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    color: var(--primary-color);
  }
  label {
    flex-shrink: 0;
  }
  input {
    background-color: transparent;
    flex-grow: 1;
    color: var(--primary-color);
    border: none;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  input:focus {
    outline: none;
  }
}
